

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

.wiki {
  margin: 4px;
  width: 600px;
  height: 750px;
  float: left;
  font-size: 80%;
}

#copyright {
  clear: both;
}

.change .comment {
  font-style: italic;
  font-size: 70%;
}

.nav a.disabled {
  color: #ccc;
}