
@wikis = [
  'vegan.wiki.yt'
  'velo.wiki.yt'
  'cheaptravel.wiki.yt'
  'wiki.yt'
  'couchwiki.org'
  'trashwiki.org'
  'sharewiki.org'
  'cultwiki.org'
  'visawiki.org'
  { name: 'hitchwiki.org', apiPath: '/en' }
]
